[submodule "multiuav_gui"]
	path = multiuav_gui
	url = https://github.com/alvcaballero/multiuav_gui.git
	branch = master
[submodule "onboard_dji"]
	path = onboard_dji
	url = https://github.com/alvcaballero/onboard_dji.git
[submodule "onboard_px4"]
	path = onboard_px4
	url = https://github.com/alvcaballero/onboard_px4.git
